.buttons-action{
    margin-left: 5px;
  }
  .conductor-text{
    font-size: small;
    color: black;
    text-align: center;
    text-transform: none;
  }
  .pasajero-text{
    font-size: x-small;
    color: gray;
    text-align: center;
    text-transform: none;
  }
  .square{
    
    background:var(--ion-color-success)
  }