.buttons-action{
  margin-left: 5px;
}
.pasajero-text{
  font-size: small;
  color: black;
  text-align: center;
  text-transform: none;
}
.conductor-text{
  font-size: x-small;
  color: gray;
  text-align: center;
  text-transform: none;
}